abcde==1.0.0.dev1
altgraph==0.16.1
ansicolors==1.1.8
argh==0.26.2
audiotools==3.1.1
colorama==0.4.1
cycler==0.10.0
eyeD3==0.8
ez-setup==0.9
ffmpeg==1.4
future==0.17.1
kiwisolver==1.0.1
libmagic==1.0
lockfile==0.12.2
macholib==1.11
matplotlib==2.0.2
mutagen==1.42.0
mysqlclient-deps==0.0.2
numpy==1.15.4
pathlib==1.0.1
pathtools==0.1.2
pefile==2018.8.8
popen==0.1.20
progress==1.4
#PyAudio==0.2.11
pyaudiotools==3.2a2
pydub==0.20.0
pydub-ffmpeg-wav==0.23.0
PyInstaller==3.4
PyMySQL==0.7.11
pyparsing==2.2.0
python-daemon-3K==1.5.8
python-dateutil==2.6.1
python-magic==0.4.15
pytz==2017.2
PyYAML==5.1
scipy==1.2.0
six==1.10.0
SpeechRecognition==3.8.1
termcolor==1.1.0
tqdm==4.29.1
watchdog==0.9.0
watchgod==0.4
wavio==0.0.3
